<div id="blurb">
    <ul>
        <li>Welcome to TaskList; a simple to-do list webapp.</li>
        <li>Create a new list by entering a name in the text
        input bar on your account page.</li>
        <li>Your new list will be displayed on screen, which
        can be expanded when clicked on. </li>
        <li>Add your tasks through the text input box 
        and clicking the add task button in the
        newly opened window for your list.</li>
        <li>Once you are done adding new tasks 
        simply close out of the window
        by clicking on the "done button"</li>
        <li>Check off tasks by clicking on them.</li>
        <li>If you accidentally check off a task, or 
        if you want to add a completed task back to your List,
        click on the switch button at the top of the window
        to see your completed tasks.</li>
        <li>Click on your completed 
        tasks to add them back to your list.</li>
        <li>Once all your tasks have been checked off,
        the "incomplete" tag next to your list name will
        switch to the "complete" tag for your ease of use when
        going through your lists.</li>
        <li>Finally, you can edit the name of your list, or a task
        by clicking on the edit button next to them.</li>
        <li>Enter your new list name or task and hit Confirm Changes.</li>
        And that's it! Enjoy!
    </ul>
</div>