<p>Welcome {{user.username}}</p>
<div id="content">
    <div id="UI">

        <div id="add-task-list" class="lists">

            <div class="list-name-input">
                <input type="text" id="list-name" name="list-name" value="">
                <input type="button" class="submit" id="create-new-list" value="Create A New List">
            </div>
            <div id="task-list">

            </div>

        </div>

    </div>



    <div id="modal-task" class="modal">
        <div id="current-task-display" class="modal-content">
            <input type="button" class="switch" id="switch-window" value="Switch">
            <h3 class="list-title"></h3>
            
            <div>
                <label id="add-task-label" for="title">Add Task</label>
                <input type="text" id="task-text" name="task-text" value="">

                <input type="button" class="submit" id="add-task" value="Add Task">
            </div>

            {{!-- <input type="hidden" id="task-list-id" value=""> --}}
            <input type="button" class="close" id="done-adding-task" value="Done">

        </div>

        <div id="completed-task-display" class="modal-content">
            <input type="button" class="switch" id="switch-window" value="Switch">
            <h3 class="list-title"></h3>
            
            <input type="button" class="close" id="done-undoing-task" value="Done">

        </div>

    </div>

    <div id="modal-edit" class="modal">
            <div id="edit-UI" class="modal-content">
                <label id="edit-item" for="edit-text"></label>
                <input type="text" id="edit-text" name="edit-text" value="">

                <input type="button" class="submit" id="confirm-edit" value="Confirm Changes">
            </div>
    </div>
    <input type="hidden" id="task-list-id" value="">
    <input type="hidden" id="task-list-name" value="">
    <input type="hidden" id="edit-item-id" value="">
    <input type="hidden" id="item-type" value="">
</div>

<script src="../js/users.js"></script>