<p>Welcome {{user.username}}</p>

<div id="UI">

    <div id="add-task" class="lists">
        <input type="text" id="list-name" name="list-name" value="">
        <input type="button" class="submit" id="create-new-list" value="Create-a-new-list">
        <div id="task-list">

        </div>

    </div>

    <div id="undo-task" class="lists">
        <h3 id="completed-task-list">Completed Tasks</h3>
        <div id="completed">

        </div>
        <input type="button" class="submit" id="undo-task" value="Undo Task">

    </div>

</div>

<div id="modal-task" class="modal">
    <div id="modal-display" class="modal-content">
        <h3 id="list-title"></h3>
        <div>
            <label id="add-task-label" for="title">Add Task</label>
            <input type="text" id="task-text" name="task-text" value="">
        </div>

        <input type="button" class="submit" id="add-task" value="Add Task">
        <input type="button" class="close" id="done-adding-task" value="Done">
        <input type="hidden" id="task-list-id" value="">

    </div>
</div>

<script src="../js/users.js"></script>